---
import { Image } from "astro:assets";
import FRC from "../../assets/otherImgs/frc_stairs.jpg";
import nationals from "../../assets/otherImgs/nationals_group.jpeg";
---

<div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
        Member Spotlight
    </h2>
</div>
