---
import Image from "astro/components/Image.astro";
import Flyer from "../../assets/eventFlyers/stdyhall.png";
import Week1 from "../../assets/eventFlyers/week1.png"
---

<div
    class="bg-black p-8 mt-20 mx-auto max-w-screen rounded-lg grid md:grid-col-2 lg:grid-cols-2 place-items-center"
>
    <div>
        <h2 class="text-bold text-white text-3xl md:text-5xl tracking-tight">
            Upcoming Events
        </h2>
        <br>
        <p class="text-semibold text-white text-l md:text-xl tracking-tight">
            Study Hall
            <br />
            Fridays 5:00pm - 6:30pm
            <br />
            @Griggs Center in the Memorial Union
            <br />
        </p>
        <p class="text-medium text-white tracking-tight text-left">
            Join us at the NSBE Study Hall for a focused, collaborative environment <br>
            to connect with peers and excel in your studies. Maximize your productivity <br>
            and achieve your academic goals with us!
        </p>
    </div>
    <div class="flex my-5">
        <Image src={Flyer} alt="Study Hall" class="w-90 h-auto"/>
    </div>
    
</div>
<div class="p-16"></div>
