---

---

<div class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 text-center">
    <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
        Join Our Mission: Elevate the Next Generation of Black Engineers
    </h1>
</div>
