---

---

<div class="grid lg:grid-cols-1 place-items-center pt-16 md:pt-12 text-center">
    <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
        <span class="text-violet-600">Join Our Mission: </span>
        Elevate the Next Generation of Black Engineers
    </h1>
    <p
        class="text-l lg:text-xl xl:text-2xl lg:tracking-tight xl:tracking-tighter mt-4"
    >
        Support our cause by becoming a sponsor—gain visibility, access to
        exclusive events, and opportunities to make a lasting impact. <a
            href="#">Explore Our Sponsorship Packet</a
        >
    </p>
    <div class="grid lg:grid-cols-1 place-items-center py-8 text-center">
        <h4
            class="text-2xl lg:text-3xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter text-violet-600"
        >
            Overview
        </h4>
        <p
            class="text-m lg:text-l xl:text-xl lg:tracking-tight xl:tracking-tighter mt-4"
        >
            Partner with us to foster the growth of future Black engineers. Our
            sponsorship program offers a range of opportunities to align your
            brand with a transformative mission, connect with a dedicated
            community, and contribute to a powerful cause. Each tier provides
            unique benefits designed to enhance your visibility and engagement,
            while directly supporting the advancement of underrepresented talent
            in engineering.
        </p>
    </div>
    <div class="grid lg:grid-cols-1 place-items-center pb-4 text-center">
        <a
            href="#"
            target="_blank"
            style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color:#8f65ef; text-decoration: none; border-radius: 5px;"
            >Sponsorship Packet</a
        >
    </div>
</div>
