---
import Image from "astro/components/Image.astro";
import ZoneSummit from "../../assets/otherImgs/zs_stairs.jpg";
---

<section class="py-8">
    <div class="container mx-auto text-center">
        <h2 class="text-2xl font-semibold mb-4">Welcome to Our Events Page</h2>
        <p class="text-lg">
            Here you can find information about the various events held by the
            Oregon State NSBE Chapter. Join us in our general meetings,
            volunteering events, conferences, and summits!
        </p>
    </div>
</section>

<section class="py-8">
    <div class="container mx-auto px-4">
        <h2 class="text-xl font-semibold mb-4">Our Events</h2>

        <div class="mb-6">
            <h3 class="text-lg font-semibold">General Meetings</h3>
            <p>
                Our general meetings are held regularly and are divided into the
                following categories:
            </p>
            <ul class="list-disc list-inside ml-6">
                <li class="mb-6 flex items-center space-x-4">
                    <div>
                        <h4 class="text-md font-semibold">
                            Volunteer Meetings:
                        </h4>
                        <p>
                            Focused on planning and organizing community service
                            and volunteering opportunities. These meetings aim
                            to coordinate efforts for impactful service projects
                            and enhance our community outreach.
                        </p>
                    </div>
                </li>
                <li class="mb-6 flex items-center space-x-4">
                    <div>
                        <h4 class="text-md font-semibold">Workshops:</h4>
                        <p>
                            Dedicated to skills development and educational
                            workshops on various topics relevant to our members.
                            These workshops offer practical learning experiences
                            and professional development.
                        </p>
                    </div>
                </li>
                <li class="mb-6 flex items-center space-x-4">
                    <div>
                        <h4 class="text-md font-semibold">
                            Social Gatherings:
                        </h4>
                        <p>
                            Events designed to foster community and provide
                            networking opportunities in a relaxed setting. These
                            gatherings help members build connections and enjoy
                            casual interactions with fellow members.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="mb-6">
            <h3 class="text-lg font-semibold">Zone Summits</h3>
            <p>
                Zone Summits are regional gatherings specifically for chapters
                within the local zone, such as the Pacific Northwest Zone. These
                summits focus on addressing regional needs and interests through
                targeted workshops and sessions, offering tailored experiences
                and solutions for chapters in the area.
            </p>
        </div>

        <div class="mb-6">
            <h3 class="text-lg font-semibold">Fall Regional Conference</h3>
            <p>
                The Fall Regional Conference is an annual event where NSBE
                chapters from across the region gather to network, attend
                workshops, and participate in career development sessions. This
                conference provides valuable resources and connections for
                professional growth.
            </p>
        </div>

        <div class="mb-6">
            <h3 class="text-lg font-semibold">National Conference</h3>
            <p>
                The National Conference is a premier event bringing together
                NSBE members from across the nation. It includes keynote
                speakers, career fairs, and numerous networking opportunities.
                This event is a highlight of the year for members seeking to
                connect with industry leaders and peers.
            </p>
        </div>
    </div>
</section>
