---
import Container from "../components/container.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="About Oregon State NSBE"
    seoTitle="About the Oregon State NSBE Chapter"
    seoDesc="Learn about the Oregon State University Chapter of the National Society of Black Engineers (NSBE). Discover our mission, activities, and how we support Black engineers."
>
    <Container>
        <h1>About</h1>
    </Container>
</MainLayout>
