---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="About Oregon State NSBE"
    seoTitle="About Oregon State NSBE Chapter"
    seoDesc="About the Oregon State University NSBE chapter and what we do."
>
    <h1>About</h1>
</MainLayout>
