---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="Oregon State NSBE Officers"
    seoTitle="Oregon State NSBE Officers"
    seoDesc="NSBE Officers for the 2024-2025 Year"
>
    <h1>Officer Page</h1>
</MainLayout>
