---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="Contact Oregon State NSBE"
    seoTitle="Contact Oregon State NSBE"
    seoDesc="Contact page and email sender to contact Oregon State University NSBE"
>
    <h1>Contact Us Page</h1>
</MainLayout>
