---
import { fade } from "astro:transitions";
import Container from "../components/container.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <Container>
        <h1>Events Page</h1>
    </Container>
</MainLayout>