---
import MainLayout from "../layouts/MainLayout.astro";
---
<!-- test comment -->
<MainLayout
  title="Oregon State NSBE"
  seoTitle="Oregon State NSBE"
  seoDesc="Oregon State University National Society of Black Engineers."
>
<h1>Home Page</h1>

</MainLayout>
