---
import Container from "../components/container.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="Sponsorship Oregon State NSBE"
    seoTitle="Sponsor Oregon State NSBE"
    seoDesc="Sponsorship information about the Oregon State National Society Of Black Engineers Chapter"
>
    <Container>
        <h1>Sponsor Page</h1>
    </Container>
</MainLayout>
