---

---

<footer id="bottom-of-page" class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="md:flex md:justify-between">
      <h2
        class="mb-4 text-lg font-semibold text-gray-900 uppercase dark:text-white"
      >
        Contact Info
      </h2>
    </div>
    <div class="grid grid-cols-3 gap-8 sm:gap-6 sm:grid-cols-3">
      <div>
        <h2
          class="mb-4 text-md font-semibold text-gray-900 uppercase dark:text-white"
        >
          Email
        </h2>
        <ul>
          <li>
            <div class="flex items-center space-x-2">
              <span>osunsbe@gmail.com</span>
              <a href="mailto: osunsbe@gmail.com">
                <img
                  width="24"
                  height="24"
                  src="https://img.icons8.com/ios-filled/50/gmail-new.png"
                  alt="gmail"
                />
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <h2
          class="mb-4 text-md font-semibold text-gray-900 uppercase dark:text-white"
        >
          Follow us
        </h2>
        <ul>
          <li>
            <div class="flex items-center space-x-2">
              <span>@osunsbe</span>
              <a href="https://www.instagram.com" target="_blank">
                <img
                  width="24"
                  height="24"
                  src="https://img.icons8.com/material-rounded/24/instagram-new.png"
                  alt="instagram-new"
                />
              </a>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-2">
              <span>@osunsbe</span>
              <a href="https://www.instagram.com" target="_blank">
                <img
                  width="24"
                  height="24"
                  src="https://img.icons8.com/ios-glyphs/30/tiktok.png"
                  alt="tiktok-new"
                />
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <h2
          class="mb-4 text-md font-semibold text-gray-900 uppercase dark:text-white"
        >
          Become a Member
        </h2>
        <p class="text-sm mb-2">Sign up through Ideal Logic</p>
        <button
          type="button"
          class="text-white bg-black hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          <a href="https://apps.ideal-logic.com/osusli">Ideal Logic</a>
        </button>
      </div>
    </div>
  </div>
</footer>
