---
import { Image } from "astro:assets";
import Dre from "../../assets/officerImgs/DeAndre_photo.jpg";
import Tai from "../../assets/officerImgs/TaisPhoto.png";
---

<div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2 class="tracking-tight text-2xl md:text-4xl lg:text-6xl">
            Meet The Elite Executive Board
        </h2>
    </div>
    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-4">
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <Image
                    src={Tai}
                    alt="Tai"
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Tai-Renée King
                    </p>
                    <p class="mb-4 text-xs text-gray-100">President</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Natural Resources with Minor in Humanitarian Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        I love roller skating, video games, and learning new
                        things.
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <Image
                    src={Dre}
                    alt="Deandre Walcott"
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        DeAndre Walcott
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Vice President</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Mechanical Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Although my favorite sport is basketball, I was on the
                        Varsity Swim Team in High School!
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Grace Okoye
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Treasurer</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Chemical Engineering
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3747435/pexels-photo-3747435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Tylah Ellison
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Finance Chair</p>
                    <p class="mb-4 text-xs text-gray-100">
                        Mechanical Engineering, Option in Product Design
                        and Manufacturing
                    </p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        I like to do photography and videography.
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3785077/pexels-photo-3785077.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Mainoah Zander Muna
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Secretary</p>
                    <p class="mb-4 text-xs text-gray-100">Computer Science, Option in Data Science</p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3931603/pexels-photo-3931603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Avari Alcaire
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Executive Chair</p>
                    <p class="mb-4 text-xs text-gray-100">Biochemistry & Molecular Biology</p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Niema Hussien
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Public Relations</p>
                    <p class="mb-4 text-xs text-gray-100"></p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3931553/pexels-photo-3931553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Jason Williams
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Public Relations</p>
                    <p class="mb-4 text-xs text-gray-100">Mechanical Engineering</p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3931553/pexels-photo-3931553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Ahman Raines
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Senator</p>
                    <p class="mb-4 text-xs text-gray-100">Computer Science, Option in Cybersecurity</p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3931553/pexels-photo-3931553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Ekow Atiemo-Addo
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Senator</p>
                    <p class="mb-4 text-xs text-gray-100">Electrical & Computer Engineering</p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="relative overflow-hidden transition duration-300 transform rounded shadow-lg lg:hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    class="object-cover w-full h-56 md:h-64 xl:h-80"
                    src="https://images.pexels.com/photos/3931553/pexels-photo-3931553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Person"
                />
                <div
                    class="absolute inset-0 flex flex-col justify-center px-5 py-4 text-center transition-opacity duration-300 bg-black bg-opacity-75 opacity-0 hover:opacity-100"
                >
                    <p class="mb-1 text-lg font-bold text-gray-100">
                        Douglas Crocker
                    </p>
                    <p class="mb-4 text-xs text-gray-100">Region 6 Assistant Treasurer</p>
                    <p class="mb-4 text-xs text-gray-100">Electrical & Computer Engineering</p>
                    <p class="mb-4 text-xs tracking-wide text-gray-400">
                        Fun Fact
                    </p>
                    <div class="flex items-center justify-center space-x-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
