---

---

<section id="national-nsbe" class="mb-12 p-4">
    <h1 class="text-5xl font-bold text-center mb-6">About Us</h1>

    <h2 class="text-2xl font-semibold mb-4">National Society of Black Engineers (NSBE)</h2>
    <p class="text-lg mb-4">
        The National Society of Black Engineers (NSBE) was founded in 1975 by a group of seven Black engineering students at Purdue University. Their vision was to create a national organization that would support and promote the success of Black students and professionals in the field of engineering. Since then, NSBE has grown to over 30,000 members and chapters worldwide, dedicated to fulfilling its mission to increase the number of culturally responsible Black engineers who excel academically, succeed professionally, and positively impact the community.
    </p>
    <h3 class="text-xl font-medium mb-2 font-semibold">NSBE Mission Statement</h3>
    <blockquote class="p-4 my-4 border-s-4 border-violet-700 bg-gray-50 dark:bg-gray-800">
        <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">"To increase the number of culturally responsible Black Engineers who excel academically, succeed professionally, and positively impact the community."</p>
    </blockquote>

</section>

<section id="osu-nsbe-chapter" class="p-4">
    <h2 class="text-2xl font-semibold mb-4">Oregon State University NSBE Chapter</h2>
    <h3 class="text-xl font-semibold mb-2">Chapter History</h3>
    <p class="text-lg mb-4">
        The Oregon State University chapter of NSBE was established in 2018 by a passionate group of students who sought to create a space where Black engineering students could receive the support they needed to thrive academically and professionally. Since its founding, our chapter has grown and become a strong part of the OSU community, providing leadership opportunities, professional development, and outreach to encourage underrepresented students in STEM fields.
    </p>

    <h3 class="text-xl font-semibold">Chapter Values</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-8">
        <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-red-600">Community</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">We are committed to building a supportive and inclusive community that uplifts and empowers all of our members.</p>
        </a>  
        <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-500">Academic Excellence</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">We strive to foster an environment where our members can achieve academic success through mentorship, tutoring, and peer support.</p>
        </a>  
        <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-yellow-400">Professional Development</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Our chapter is dedicated to preparing members for successful careers in engineering through networking, workshops, and access to industry professionals.</p>
        </a>  
        <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Service</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">We believe in giving back to our community through outreach and engagement, inspiring future generations of Black engineers.</p>
        </a>   
    </div> 
</section>